* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 50px;

}

nav ul {
    display: flex
;
    background-color: #e1bee7;
    padding: 15px 0px 15px 0px;
    justify-content: center;
    z-index: 22222222222222;
    position: relative;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    margin-left: 25px;
}


nav ul li a {
    text-decoration: none;
    color: #DA498D;
    font-weight: 700;
    padding: 8px;
    display: inline-block;

}

nav ul li a:hover {
    color: #8e24aa;
    border-bottom: #8e24aa;
}

nav ul li a.active {
    color: #8e24aa;
    border-bottom: 2px solid #8e24aa;
}

h1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    color: #8e24aa;
    background-color: #000000;
}

table {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
}

.add_btn {
    text-align: center;
    display: block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #E1BEE7;
    text-decoration: none;
    max-width: 145px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

a.action_btn {
    background-color: #ce93d8;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    color: black;
    border: 1px solid lightpink;
    border-radius: 4px;
}

button.action_btn {
    padding: 0px 5px 0px 10px;
    margin-right: -22px;
    border-radius: 3px;
    border: 1px solidx pink;
}

label {
    width: 100%;
}

textarea,
input {
    width: 100%;
}

form {
    width: 100%;
    border: 1px solid #000;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.submit_btn {
    background-color: #E1BEE7;
    margin-top: 10px;
    cursor: pointer;
}

/* bvjfbvnkl  */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');


body {
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.screen {
    background: linear-gradient(90deg, #e7e4ff, #7C78B8);
    position: relative;
    height: 460px;
    width: 360px;
    box-shadow: 0px 0px 24px #5C5696;
}
.screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
}
.login {
    width: 320px;
    padding: 30px;
    margin-top: 20px;
    padding-top: 70px;
}

.login__field {
    padding: 20px 0px;
    position: relative;
}

.login__icon {
    position: absolute;
    top: 30px;
    color: #7875B5;
}

.login__input {
    border: none;
    border-bottom: 2px solid #ffffff;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
}

.login__input:active, .login__input:focus, .login__input:hover {
    outline: none;
    border-bottom-color: #7E57C2;
}

.login__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #4C489D;
    box-shadow: 0px 2px 2px #5C5696;
    cursor: pointer;
    transition: .2s;
}

.login__submit:active, .login__submit:focus, .login__submit:hover {
    border-color: #b0adda;
    background-color: #7E57C2;
    color: #fff;
    outline: none;
}
button {
    padding: 5px 10px;
    text-align: center;
    display: flex;
    font-weight: bold;
    border-radius: 15px;
    border-color: darkorchid;
    color: #DA498D;
    align-items: center;
    transition: all 0.5s ease-in-out;
}
button:hover{
    background-color: #DA498D;
    color: white;
    transition: all 0.5s ease-in-out;
}

.button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #7875B5;
}

.social-login {
    position: absolute;
    height: 140px;
    width: 160px;
    text-align: center;
    bottom: 0px;
    right: 0px;
    color: #fff;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-login__icon {
    padding: 20px 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
    transform: scale(1.5);
}

/* jhcbjekej */
*,
::after,
::before {
    box-sizing: border-box;
}


body {
    background-color: pink;
    color: #fff;
    font-family: monospace, serif;
    letter-spacing: 0.05em;
}

h1 {
    font-size: 23px;
}


.form {
    width: 300px;
    padding: 35px 25px 25px 25px;
    margin: 0 auto;
    margin-top: 75px;
}
    .control {
        margin: 0 0 24px;

        input {
            width: 100%;
            padding: 14px 16px;
            border: 0;
            background: transparent;
            color: #fff;
            font-family: monospace, serif;
            letter-spacing: 0.05em;
            font-size: 16px;

            &:hover,
            &:focus {
                outline: none;
                border: 0;
            }
        }
    }

    .btn {
        width: 100%;
        display: block;
        padding: 14px 16px;
        background: transparent;
        outline: none;
        border: 0;
        color: #fff;
        letter-spacing: 0.1em;
        font-weight: bold;
        font-family: monospace;
        font-size: 16px;
    }


.block-cube {
    position: relative;

    .bg-top {
        position: absolute;
        height: 10px;
        background: rgb(2, 0, 36);
      
        bottom: 100%;
        left: 5px;
        right: -5px;
        transform: skew(-45deg, 0);
        margin: 0;

        .bg-inner {
            bottom: 0;
        }
    }

    .bg {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgb(2, 0, 36);

    }

    .bg-right {
        position: absolute;
        background: rgb(2, 0, 36);
        background: rgba(0, 212, 255, 1);
        top: -5px;
        z-index: 0;
        bottom: 5px;
        width: 10px;
        left: 100%;
        transform: skew(0, -45deg);

        .bg-inner {
            left: 0;
        }
    }

    .bg {
        .bg-inner {
            transition: all 0.2s ease-in-out;
        }
    }

    .bg-inner {
        position: absolute;
        left: 2px;
        top: 2px;
        right: 2px;
        bottom: 2px;
    }

    .text {
        position: relative;
        z-index: 2;
    }

    &.block-input {
        input {
            position: relative;
            z-index: 2;

            &:focus~.bg-right .bg-inner,
            &:focus~.bg-top .bg-inner,
            &:focus~.bg-inner .bg-inner {
                top: 100%;
                background: rgba(255, 255, 255, 0.5);
            }
        }

        .bg-top,
        .bg-right,
        .bg {
            background: rgba(255, 255, 255, 0.5);
            transition: 0.2s ease-in-out;
        }

        .bg-right,
        .bg-top {
            .bg-inner {
                transition: all 0.2s ease-in-out;
            }
        }

        &:focus,
        &:hover {

            .bg-top,
            .bg-right,
            .bg {
                background: rgba(255, 255, 255, 0.8);
            }
        }
    }


    &.block-cube-hover:focus,
    &.block-cube-hover:hover {
        .bg {
            .bg-inner {
                top: 100%;
            }
        }
    }
}

.credits {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 15px 15px;
    width: 100%;
    z-index: 111;

    a {
        opacity: 0.6;
        color: #fff;
        font-size: 11px;
        text-decoration: none;

        &:hover {
            opacity: 1;
        }
    }
}